SPRING_PROFILES_ACTIVE=supabase

SUPABASE_DB_URL=jdbc:postgresql://db.dduwnrdrfygwospgdzts.supabase.co:5432/postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=SUA_SENHA_AQUI

SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_PUBLISHABLE_KEY=sua_chave_publica_aqui
SUPABASE_SECRET_KEY=sua_chave_secreta_aqui
SUPABASE_JWKS_URL=https://seu-projeto.supabase.co/auth/v1/.well-known/jwks.json
